/* Main */
:root {
    --red: rgb(255, 59, 48);
    --orange: rgb(255, 149, 0);
    --yellow: rgb(255, 204, 0);
    --green: rgb(40, 205, 65);
    --mint: rgb(0, 199, 190);
    --cyan: rgb(85, 190, 240);
    --blue: rgb(0, 122, 255);
    --indigo: rgb(88, 86, 214);
    --purple: rgb(175, 82, 222);
    --pink: rgb(255, 45, 85);
    --black: rgb(10, 13, 21);
    --grey: rgb(160, 160, 160);
}

body {
    background-color: var(--black);
    margin: 0;
    padding: 0;
    height: 100%;
}

p,
h1,
h2,
h3 {
    color: white;
    font-family: "Crimson Text", serif;
}

h1 {
    font-size: 6em;
}

.star {
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-color: white;
    box-shadow:
        0 0 30px 15px #fff,
        /* inner white */
        0 0 50px 30px #f0f,
        /* middle magenta */
        0 0 70px 45px #0ff;
    /* outer cyan */

    /* position */
    position: absolute;
    top: 70%;
    left: 48%;
    /* 
    transform: translate(-50%, -50%); */

    z-index: 100;

}

.bg-star {
    height: .1em;
    width: .1em;
    border-radius: 50%;
    background-color: white;

    /* position */
    position: absolute;

    /* left: 5%; */

}

#sequence {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    /* height: 100%; */
    /* background: linear-gradient(to bottom, var(--black), #21262b); */
    /* need to change this value later */
    /* height: 5000px; */
}

#title-text {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    opacity: 0%;

}

#one {
    height: 5000px;
    position: relative;
}

.break {
    position: relative;
    height: 1000px;
}


#two {
    height: 7000px;
    position: relative;
}



.caption {
    position: absolute;
    margin-left: 5%;
    margin-top: 5%;
}

#stage-nebula {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


#nebula {

    /* border-radius: 50%; */
    /* background: radial-gradient(ellipse at center, #3a3a3a 0%, #000 70%); */

    position: absolute;
    /* box-shadow: 0 0 50px 20px rgba(58, 58, 58, 0.5); */
    /* left: 48%; */
    width: 100%;
    height: 100vh;

    /* width: ; */

}

.nebula-star {

    position: absolute;

    height: 2em;
    width: 2em;
    border-radius: 100%;
    background-color:  #ffffff51;
    box-shadow:
        0 0 30px 10px #ffffffa0,
        /* middle magenta */
        10px 30px 70px 100px rgba(0, 255, 255, 0.164),
        /* inner white */
        30px 10px 100px 70px rgba(255, 0, 255, 0.215);
        
    /* outer cyan */


    /* 
    transform: translate(-50%, -50%); */

    z-index: 100;


}