@import "../css/style.css";

/* body {
    background-color: var(--cyan);
} */

.wrapper {
    height: 2000px;
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /* fill: var(--pink); */

}

path {
    fill: var(--pink);
}