.letter {
    position: relative;
    margin-top: 2em;
}

/* Letter A*/

#A {
    margin-top: 2.5em;
    display: inline-flex;
    margin-left: .5em;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: space-between; */
    /* position: absolute; */
}


#A> :nth-child(1) {
    transform: rotate(30deg);
    margin-left: 10px;
}


#A .line-2 {

    margin-left: -50px;
    margin-top: 40px;
    /* width: 50%; */
    z-index: 1;

}

#A> :nth-child(3) {
    margin-left: -60px;
    /* Adjust the negative margin as needed */
    transform: rotate(-30deg);
    /* margin-bottom: 10px; */

}

/* letter B */

#B {
    display: inline-flex;
    position: relative;
    margin-top: 2em;
    margin-left: 1em;

}


#B>* {
    position: absolute;

}


#B-structure {
    left: 25px;
    top: -10px;
}

#B-structure> :nth-child(2) {
    margin-top: -40px;

}

#B .line-2 {
    position: absolute;
    left: 30px;
    top: -25px;
    /* left: -30px; */
}


/* #B .circle-2 {
    position: absolute;
    left: 45px;
    top: 10px;
} */

/* letter C */

#C {
    display: inline-flex;
    position: relative;
    margin-top: 2em;
    margin-left: .5em;

}

#C .circle-1 {
    position: absolute;
    top: 10px;
    /* left: -30px; */
}

#C .line-3 {
    position: absolute;
    top: -15px;
    left: 40px;
    /* left: -30px; */
}

#C-structure {
    /* margin-top: 10em; */
    position: absolute;
    left: 110px;
    top: 60px;
    /* bottom: 0; */
}

#C-structure> :nth-child(1) {
    /* margin-top: 10em; */
    position: absolute;
    bottom: 70px;
}

/* D */

#D {
    position: relative;
    margin-top: 2em;
    margin-left: 1em;
}

#D>* {
    position: absolute;
}

#D .line-2 {
    left: 45px;
    top: -25px;
}

#D .circle-4 {
    left: 20px;
}

#D .circle-2 {
    left: 40px;
    top: 10px;
}



/* #D-structure {
    left: 20px;
} */

/* F */

#F {
    position: relative;
    margin-left: 1em;
}

#F>* {
    position: absolute;
}

#F .line-3 {
    /* top: 10px; */
    left: 20px;
}

#F .circle-3 {
    top: 60px;
    left: 80px;
}

#F .circle-2 {
    /* top: 20px; */
    left: 105px;
}

/* G */

#G>* {
    position: absolute;
}

#G-C2-2 {
    top: 30px;
}

#G-C2-1 {
    left: 100px;
}

#G .line-3 {
    top: 80px;
    left: 20px;
}

#G .line-1 {
    top: 40px;
    left: 120px;

}




/* Letter H */

#H {
    margin-top: 3em;
    display: inline-flex;
    margin-left: 0.5em;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: space-between; */
    /* position: absolute; */
}



#H-structure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    /* Adjust margin as needed */
}

#H .line-2 {

    margin-left: -50px;
    margin-top: 20px;
    /* width: 50%; */
    z-index: 1;

}

#H> :nth-child(3) {
    margin-left: -50px;
    /* Adjust the negative margin as needed */
}

/* #H-structure {
    display: flex;
    justify-content: space-between;
    margin: 100px;
} */

/* I */

#I {
    margin-left: 2em;
}

#I>* {
    position: absolute;
    /* left: 80px; */
}

#I .line-3 {
    left: 50px;
}

#I .circle-2 {
    left: 72px;
}

#I .circle-3 {
    top: 95px;
    left: 80px;
}

/* J */
#J > * {
    position: absolute;
}

#J .circle-1 {
    /* left: 30px; */
    top: -20px;
}

#J .line-1 {
    left: 100px;
}

#J .line-2 {
    top: -30px;
}

#J-c2-1 {
    top: 50px;
    left: 70px;
}

#J-c2-2 {
    top: 110px;
    left: 100px;
}

/* K */

#K {
    margin-left: .5em;

}

#K > * {
    position: absolute;
}

#K .line-1 {
    left: 20px;
}

#K .line-3 {
    top: 50px;
    left: -10px;
    transform: rotate(40deg);
}

#K .circle-4 {
    top: -20px;
    left: 20px;
    transform: rotate(400deg);
}

/* L */

#L {
    margin-left: .5em;
}

#L > * {
    position: absolute;
}

#L .circle-3 {
    top: 100px;
    left: 80px;
}

#L .line-2{
    top: 50px;
    left: 10px;

}

#L .circle-2 {
    top: 20px;
    left: -20px;
}

/* M */

/* #M {
    margin-left: .5em;
} */

#M > * {
    position: absolute;
}

#M .line-1 {
    /* margin-left: .5em; */
    left: -10px;
    
}

#M .circle-2 {
    /* margin-left: .5em; */
    top: 20px;
}

#M .line-3 {
    /* margin-left: .5em; */
    left: 140px;
    top: -10px;
}

#M-c2-2 {

    left: 65px;

}

/* #L .line-1 {
    left: 20px;
} */

/* N */

#N {
    margin-left: 2.5em;
}

#N > * {
    position: absolute;
}

#N-l2-1 {
    left: 20px;
}

#N .circle-4 {
    transform: rotate(140deg);
}

#N-l2-2 {
    left: 80px;
    top: -30px;
}

/* O */

/* #O {
    margin-left: 2.5em;
} */

#O > * {
    position: absolute;
}

#O .line-2 {
    top: -20px;
}


#O .line-3 {
    top: 80px;
}

#O .circle-3{
    top: 50px;
    left: 110px;
}


/* R */

#R {
    position: relative;
    margin-top: 3.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

#R-structure {
    display: flex;
    position: absolute;
    /* left: 60px; */
}

#R-structure>.circle-1 {
    margin-left: -1em;
}

#R>.line-3 {
    margin-top: 20px;
    transform: rotate(40deg);
}