.letter {
    position: relative;
    margin-top: 2em;
}

/* Letter A*/

#A {
    margin-top: 2.5em;
    display: inline-flex;
    margin-left: .5em;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: space-between; */
    /* position: absolute; */
}


#A> :nth-child(1) {
    transform: rotate(30deg);
    margin-left: 10px;
}


#A .line-2 {

    margin-left: -50px;
    margin-top: 40px;
    /* width: 50%; */
    z-index: 1;

}

#A> :nth-child(3) {
    margin-left: -60px;
    /* Adjust the negative margin as needed */
    transform: rotate(-30deg);
    /* margin-bottom: 10px; */

}

/* letter B */

#B {
    display: inline-flex;
    position: relative;
    margin-top: 2em;
    margin-left: 1em;

}


#B>* {
    position: absolute;

}


#B-structure {
    left: 35px;
    top: -10px;
}

#B-structure> :nth-child(2) {
    margin-top: -40px;

}

#B .line-2 {
    position: absolute;
    left: 40px;
    top: -25px;
    /* left: -30px; */
}


/* #B .circle-2 {
    position: absolute;
    left: 45px;
    top: 10px;
} */

/* letter C */

#C {
    display: inline-flex;
    position: relative;
    margin-top: 2em;
    margin-left: .5em;

}

#C .circle-1 {
    position: absolute;
    top: 10px;
    /* left: -30px; */
}

#C .line-3 {
    position: absolute;
    top: -15px;
    left: 30px;
    /* left: -30px; */
}

#C-structure {
    /* margin-top: 10em; */
    position: absolute;
    left: 110px;
    top: 60px;
    /* bottom: 0; */
}

#C-structure> :nth-child(1) {
    /* margin-top: 10em; */
    position: absolute;
    bottom: 70px;
}

/* D */

#D {
    position: relative;
    margin-top: 2em;
    margin-left: 1em;
}

#D>* {
    position: absolute;
}

#D .line-2 {
    left: 30px;
    top: -25px;
}

#D .circle-4 {
    left: 20px;
}

#D .circle-2 {
    left: 40px;
    top: 10px;
}

/* E */

#E {

    margin-top: 2em;
}

#E>* {
    position: absolute;
}

#E-l2-2 {
    top: 50px;

}

#E-l2-3 {
    top: 100px;

}

#E .circle-1 {
    top: 10px;
    left: 10px;
}



/* #D-structure {
    left: 20px;
} */

/* F */

#F {
    position: relative;
    margin-left: 1em;
}

#F>* {
    position: absolute;
}

#F .line-3 {
    /* top: 10px; */
    left: 20px;
}

#F .circle-3 {
    top: 70px;
    left: 80px;
}

#F .circle-2 {
    /* top: 20px; */
    left: 105px;
}

/* G */

#G>* {
    position: absolute;
}

#G-C2-2 {
    top: 30px;
}

#G-C2-1 {
    left: 100px;
}

#G .line-3 {
    top: 80px;
    left: 20px;
}

#G .line-1 {
    top: 40px;
    left: 120px;

}




/* Letter H */

#H {
    margin-top: 3em;
    display: inline-flex;
    margin-left: 0.5em;
    /* flex-direction: column; */
    /* align-items: center;
    justify-content: space-between; */
    /* position: absolute; */
}

/* #H > * {
    position: absolute;
} */



#H-structure {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 20px;
    /* Adjust margin as needed */
}

#H .line-2 {

    margin-left: -50px;
    margin-top: 30px;
    /* width: 50%; */
    z-index: 1;

}

#H> :nth-child(3) {
    margin-left: -50px;
    /* Adjust the negative margin as needed */
}

/* #H-structure {
    display: flex;
    justify-content: space-between;
    margin: 100px;
} */

/* I */

#I {
    margin-left: 2em;
}

#I>* {
    position: absolute;
    /* left: 80px; */
}

#I .line-2 {
    top: 80px;
    left: -25px;
}

#I .line-1 {
    top: 20px;
    left: -25px;
}

#I .circle-3 {
    top: 5px;
    left: 85px;
}

#I .circle-2 {
    top: 25px;
    left: 5px;
}

/* J */
#J>* {
    position: absolute;
}

#J .circle-1 {
    left: 30px;
    top: -10px;
}


#J .line-3 {
    top: 10px;
    left: 10px;
    /* transform: rotate(20deg); */
}

#J-c2-1 {
    top: 30px;
    left: 70px;
}

#J-c2-2 {
    top: 90px;
    left: 100px;
}

/* K */

#K {
    margin-left: .5em;

}

#K>* {
    position: absolute;
}

#K .line-1 {
    left: 20px;
}

#K .line-3 {
    top: 50px;
    left: -10px;
    transform: rotate(40deg);
}

#K .circle-4 {
    top: -20px;
    left: 20px;
    transform: rotate(400deg);
}

/* L */

#L {
    margin-left: .5em;
}

#L>* {
    position: absolute;
}

#L .circle-4 {
    top: 95px;
    left: 140px;
}

#L .line-1 {
    top: 120px;
    left: 10px;

}

#L .circle-1 {
    left: 20px;
    top: 25px;
}

#L .line-2 {
    /* top: 20px; */
    left: 40px;

}


/* M */

/* #M {
    margin-left: .5em;
} */

#M>* {
    position: absolute;
}

#M .line-1 {
    /* margin-left: .5em; */
    left: -10px;

}

#M .circle-2 {
    /* margin-left: .5em; */
    top: 20px;
}

#M .line-3 {
    /* margin-left: .5em; */
    left: 140px;
    top: -10px;
}

#M-c2-2 {

    left: 65px;

}

/* #L .line-1 {
    left: 20px;
} */

/* N */

#N {
    margin-left: 2.5em;
}

#N>* {
    position: absolute;
}

/* #N-l2-1 {
    left: 10px;
} */

#N .circle-4 {
    transform: rotate(140deg);
}

#N-l2-2 {
    left: 65px;
    top: -30px;
}

/* O */

#O {
    margin: 2em auto;
    margin-left: 1em;
}

#O>* {
    position: absolute;
}

#O .line-2 {
    top: -20px;
}


#O .line-3 {
    top: 80px;
}

#O .circle-3 {
    top: 40px;
    left: 110px;
}

/* P */

#P {
    margin-left: 0.5em;
    margin-top: 2em;
}

#P>* {
    position: absolute;
}

#P .circle-2 {
    left: 100px;
}

#P .line-2 {
    top: 20px;
    left: -10px;
}

#P .circle-4 {
    top: 10px;
    /* left: -10px; */
}

/* Q */

#Q {

    margin-left: 1em;

}

#Q>* {
    position: absolute;
}

#Q .circle-4 {
    /* transform: rotate(-40deg); */
    left: 50px;
    top: 20px;
}

#Q .line-3 {
    /* transform: rotate(40deg); */
    top: 50px;
    left: 10px;
}


/* R */

#R {
    position: relative;
    margin-top: 3.5em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    /* margin: auto; */
}

#R-structure {
    display: flex;
    position: absolute;
    /* left: 60px; */
}

#R-structure>.circle-1 {
    margin-left: -1em;
}

#R>.line-3 {
    margin-top: 20px;
    transform: rotate(40deg);
}

/* S */

#S {

    margin-left: 1em;

}

#S>* {
    position: absolute;
}

#S>.line-2 {
    transform: rotate(140deg);
}

#S .circle-4 {
    transform: rotate(120deg);
    left: 20px;
    top: 20px;
}

#S-l2-1 {
    left: -10px;

    /* top: 80px; */

}

#S-l2-2 {

    left: 00px;
    top: 90px;

}

/* T */

#T {
    margin-top: 3em;
    margin-left: .5em;
}

#T>* {
    position: absolute;
}

#T .circle-4 {
    left: 50px;
}

#T .circle-1 {
    left: 25px;
    top: 5px;
}

/* U */

/* #U {
} */

#U>* {
    position: absolute;
}

#U .circle-1 {
    top: 60px;
    left: 10px;
}

#U .circle-3 {
    top: 20px;
    left: 70px;
}

#U .line-3 {
    top: -10px;
    left: 30px;
}

#U .line-1 {
    /* left: 20px; */
    top: 110px;
}

/* V */

#V {

    margin-left: 2em;
}

#V>* {
    position: absolute;
}

#V .circle-4 {
    transform: rotate(150deg);
}

#V .line-3 {
    transform: rotate(130deg);
    top: 40px;
}

#V .line-1 {
    transform: rotate(-120deg);
    top: 70px;
    left: -70px;
}

/* W */

#W {
    margin-left: .5em;
}

#W>* {
    position: absolute;
}

#W .line-2 {
    top: 20px;
    transform: rotate(60deg);
}

#W .line-1 {
    top: 60px;
    transform: rotate(120deg);
    left: 50px;
}

#W .circle-3 {
    transform: rotate(40deg);
    left: 20px;
}

#w-l2-1 {
    left: -50px;
}

#w-l2-2 {
    left: 20px;
}

/* X */

#X {
    /* margin-top: 2em; */
    margin-left: 1em;
}

#X>* {
    position: absolute;
}

#X .circle-4 {
    transform: rotate(40deg);
    left: 50px;
    top: -5px;
}

#X .line-2 {
    transform: rotate(40deg);
    top: 30px;
}

#X .line-1 {
    transform: rotate(310deg);
    top: 50px;
    left: 5px;
}

#X .circle-1 {
    top: 50px;
    left: -10px;
}

/* Y */

#Y {
    margin-top: 3em;
    /* margin-left: 1em; */
}

#Y>* {
    position: absolute;
}

#Y .circle-4 {
    transform: rotate(40deg);
    left: 60px;
    top: -5px;
}

#Y .line-1 {
    transform: rotate(310deg);
    top: 80px;
    left: 30px;
}

#Y .line-3 {
    transform: rotate(60deg);
    top: 20px;
    left: 0px;
}

/* Z */

#Z > * {
    position: absolute;
}

#z-c2-1 {
    left: 100px;

}

#z-c2-2 {
    top: 100px;
    left: 100px;

}

#Z .line-3 {
    transform: rotate(130deg);
    top: 60px;
    left: -10px;
}

#Z .line-1 {
    top: 80px;
}