:root {
    --red: rgb(255, 59, 48);
    --orange: rgb(255, 149, 0);
    --yellow: rgb(255, 204, 0);
    --green: rgb(40, 205, 65);
    --mint: rgb(0, 199, 190);
    --cyan: rgb(85, 190, 240);
    --blue: rgb(0, 122, 255);
    --indigo: rgb(88, 86, 214);
    --purple: rgb(175, 82, 222);
    --pink: rgb(255, 45, 85);
    --black: rgb(10, 13, 21);
    --grey:  rgb(160, 160, 160);
}

body {
    margin: 0;
    font-family: 'Cutive Mono', monospace;
    background-color: var(--black);
}

h1 {
    max-width: 90%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    /* padding: 20px; */
    margin: 0 5%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.container {
    border: 1px solid var(--black);
    height: 12em;
    border-radius: 5px;
    color: white;
    transition: transform 1s ease;
    padding: 1em;

}

.container:hover {
    background-color: rgb(27, 33, 49);
    border: 1px solid white;

}

/* BUTTON */

#toggle {
    grid-column: 1/-1;
    font-family: 'Cutive Mono', monospace;
    height: 3em;
    width: 90%;
    margin: 0 5%;
    border: 1px solid white;
    margin-top: 2%;
    border-radius: 5px;

}

/* HEADER */

.letter-header {
    display: flex;
    justify-content: space-between;
    /* margin: 10px; */
}

.letter-header p {
    margin-top: 0;
    margin-bottom: 0;
    margin: auto;
}

.letterform {
    display: none;
}

#module {
    grid-column: 1/-1;
    background-color: rgb(27, 33, 49);
    /* height: 15em; */
    border-radius: 5px;
    color: white;
    transition: transform 1s ease;
    padding: 1em;
    margin: 0 5%;
    margin-top: 4em;
    margin-bottom: 4em;
    text-align: center;
}

#module>* {
    margin: 0 1em;
}

.vertical {
    transform: rotate(90deg);
    transform-origin: bottom left;

}

.horizontal {
    transform: rotate(90deg);
    transform-origin: top left;

}

.container {
    padding: 2em;
}

/* MODULAR DEFINITION */

.circle {
    position: absolute;
    border: 2px solid var(--grey);
    border-radius: 50%;
    transition: border-color 0.3s ease-in-out;
    /* width: 40px;
    height: 40px; */
}


.circle-2,
.circle-3,
.circle-4 {
    position: relative;
    display: inline-block;

}

.circle-2 {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    width: 60px;
    height: 90px;
}

.circle-2>.circle {
    width: 50px;
    height: 50px;
}

.circle-3 {
    width: 40px;
    height: 100px;
}

.circle-3>.circle {
    width: 40px;
    height: 40px;
}

.circle-4 {
    width: 30px;
    height: 110px;
}

.circle-4>.circle {
    width: 30px;
    height: 30px;
}


.circle-1 {
    /* position: absolute; */
    border: 2px solid var(--grey);
    border-radius: 50%;
    display: inline-block;

    width: 80px;
    height: 80px;

}

/* circle 2 */

.c2-1 {
    top: 0;
    left: 0px;
}

.c2-2 {
    top: 35px;
    left: 0;
}



/* circle 3 */

.c3-1 {
    top: 0;
    left: 0px;
}

.c3-2 {
    top: 30px;
    left: 0;
}

.c3-3 {
    top: 60px;
    left: 0;
}

/* circle 4 */

.c4-1 {
    top: 0;
    left: 0px;
}

.c4-2 {
    top: 25px;
    left: 0;
}

.c4-3 {
    top: 50px;
    left: 0;
}

.c4-4 {
    top: 75px;
    left: 0;
}

/* LINE */

.line {
    position: relative;
    /* Ensure that the ::after pseudo-element is positioned correctly */
    border: .1px solid var(--grey);
    height: .1px;
    background-color: var(--grey);
    transition: border-color 0.3s ease-in-out;
    
    
    /* margin: 10px 0; */
}


.line-1 {
    width: 120px;
    display: inline-block;
}


.line-2 {
    width: 120px;
    display: inline-block;
    margin: 20px 0;

}

.line-2> :nth-child(1) {
    /* display: inline-block; */
    margin-bottom: 20px;

}

.line-3 {
    width: 120px;
    display: inline-block;
    margin: 10px 0;
}

.line-3> :nth-child(2) {
    /* display: inline-block; */
    margin-bottom: 10px;
    margin-top: 10px;

}


.line-3> :nth-child(1) {
    /* display: inline-block; */
    margin: 0;

}

.line-3> :nth-child(3) {
    /* display: inline-block; */
    margin: 0;

}



.glow {
    animation: glow-animation .5s infinite alternate;
}

.grow {
    animation: fill-animation 1s;

}

@keyframes glow-animation {
    0% {
        box-shadow: 0 0 10px #ffffff;
        border-color: #ffffff;
    }

    100% {
        box-shadow: 0 0 20px #ffff;
        border-color: #ffffff;
    }
}

/* Apply fill animation to the line */
@keyframes fill-animation {
    0% {
        width: 0;
        border-color: var(--grey);
        box-shadow: 0 0 10px #ffffff; /* Initial glow effect */
    }

    60% {
        width: 100%;
        border-color: #ffffff;
        background-color: white;
        box-shadow: 0 0 20px #ffff; /* Increased glow effect */
        border: .5px solid white;
    }

    100% {
        width: 100%;
        border-color: var(--grey);
        box-shadow: 0 0 20px #ffffff; /* Back to the initial glow effect */
    }
}
