@import url(style.css);

body {
    background-color: var(--black);
}

.nav > * {
    color: white;
}

#glasses {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 5%;
    height: 50vh;  
    
}

.lens-container {
    /* position: relative; */
    height: 20em;
    width: 20em;
}

.lens {
    /* position: absolute; */
    height: 20em;
    width: 20em;
    border-radius: 100%;
    border: 5px solid var(--black);
    z-index: 1;
}

.lens-background {
    position: absolute;
    height: 20em;
    width: 20em;
    /* height: 100%;
    width: 100%; */
    border-radius: 100%;
    background-image: url(../imgs/sight-chart.jpg);
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
    overflow: hidden;
    animation: blur 0.5s forwards; /* Add animation */
    border: 5px solid  white;


}

#bridge {
    /* background-color: white; */
    width: 60px;
    height: 10px;
    justify-content: center
    

}

.blur-effect {
    animation: unblur 0.5s forwards; /* Add animation */

}

@keyframes unblur {
    from {
        filter: blur(10px);
    }
    to {
        filter: blur(0);
    }
}

@keyframes blur {
    from {
        filter: blur(0);
    }
    to {
        filter: blur(10px);
    }
}